#footer {
	background-color: #766A5E;
	color: white;
	width: 100%;
 	position:absolute;
	height: 60px;
	display: block;
	overflow: hidden;
	clear: both;
	bottom: 0;
	right: 0;
	left: 0;
}

body {
	margin: 0 0 0 0;
	
}
#container {
   min-height:100%;
   position:relative;
   
}