@CHARSET "UTF-8";

#testline {
	border: 4px solid black;
	position: fixed;
	top: 10px;
	left: 10px;
	width: 97%;
	background-color: green;
	color: blue;
}

div.container {
	width: 100%;
	margin: 0px;
	border: 1px solid gray;
	line-height: 150%;
}

div.header, div.footer {
	padding : 0.5em;
	color: white;
	background-color:gray;
	clear:left;
}

div.left{
	float: left;
	width: 160px;
	margin:0;
	padding: 1em;
}

div.content{
	margin-left: 190px;
	border-left: 1px solid gray;
	padding: 1em;
}